<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tatang.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_ems"
        android:logo="@drawable/pln"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Account.Account_Login"
            android:logo="@drawable/pln"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".Account.Account_Repassword"
            android:logo="@drawable/pln"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainActivity"
            android:logo="@drawable/pln"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainHomes.Eviden.Upload.Activity_Eviden_Staft_Detail"
            android:logo="@drawable/pln"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainHomes.Eviden.Upload.Activity_Eviden_DM_Detail"
            android:logo="@drawable/pln"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainHomes.Eviden.Validasi.Activity_Validasi_DM_Detail"
            android:logo="@drawable/pln"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainHomes.Eviden.Upload.Activity_Eviden_MB_Detail"
            android:logo="@drawable/pln"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainHomes.Eviden.Validasi.Activity_Validasi_MB_Detail"
            android:logo="@drawable/pln"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainHomes.Eviden.Validasi.Activity_Validasi_GM_Detail"
            android:logo="@drawable/pln"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

    </application>

</manifest>